<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Chat Real Time</title>
</head>
<body>
    <div class="container w-100 w-md-50">
        <h1>Chat Real Time</h1>

        <input type="hidden" id="name" value="<%= name %>">
        <input type="hidden" id="code" value="<%= code %>">
        <div><%= name %><strong>#<%= code %></strong></div>
        <div id="chat" class="border border-dark rounded p-2" style="height: 50vh; overflow-y: scroll;"></div>
        <input type="text" id="msg" class="form-control my-1" placeholder="Escreva sua mensagem aqui...">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" onclick="sendMessage()">Enviar Mensagem</button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script>
        var name = document.querySelector("#name").value;
        var code = document.querySelector("#code").value;

        var socket = io("http://localhost:3000");

        socket.emit("connected", {name, value});
        socket.on("connected", (data) => {
            console.log("Recebeu", data);
            data.forEach(item => {
                showMessage(item);
            });
        });

        socket.on("response", (data) => {
            showMessage(data);
        });

        function sendMessage(){
            let username = document.querySelector("#username").value;
            let message = document.querySelector("#msg").value;

            socket.emit("sendMessage", {username, message});
        }

        function showMessage(data){
            let divEl = document.createElement('div');
            let strongEl = document.createElement('strong');
            let spanEl = document.createElement('span');

            strongEl.innerHTML = data.username + ": ";
            spanEl.innerHTML = data.message;

            divEl.appendChild(strongEl);
            divEl.appendChild(spanEl);

            document.querySelector('#chat').appendChild(divEl);
        }
    </script>
</body>
</html>