.sidebar {
    width: 78px;
    height: 100%;
    padding: 70px 5px;
    position: fixed;
    top: 0;
    left: 0;
    background: #E6AF2E;
    border-right: 4.5px solid #003554d8;
    transition: all 0.8s ease;
    z-index: 100;
  }
  
  .sidebar.active {
    padding: 40px 8px;
    width: 170px;
  }
  
  .sidebar .logo-content .logo {
    font-size: 20px;
    color: #003554;
    display: flex;
    width: 100%;
    opacity: 0;
  }
  
  .sidebar.active .logo-content .logo {
    opacity: 1;
  }

  .sidebar .logo-content .logo a{
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-family: 'Merienda One Regular';
    color: #210446;
  }

  .sidebar .logo-content .logo a .title-1{
    display: block;
    font-size: 1.7rem;
  }
  .sidebar .logo-content .logo a .title-2{
    display: block;
    font-size: 2rem;
  }
  
  .sidebar .logo-content .logo .logo-name img {
    width: 70%;
  }
  
  .sidebar #button-expand {
    display: block;
    position: absolute;
    color: #002f4b73;
    left: 55%;
    top: 39px;
    height: 38px;
    width: 38px;
    transform: translateX(-50%);
  }
  
  .sidebar.active #button-expand {
    left: 85%;
  }
  
  .sidebar #button-expand:hover {
    cursor: pointer;
    transform: translateX(-50%) skewX(10deg);
  }
  
  .sidebar ul {
    margin-top: 40px;
    padding-left: 0px;
  }
  
  .sidebar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40px;
    margin: 8px 5px;
    list-style: none;
    font-family: 'Merienda One Regular';
  }
  
  .sidebar ul li a {
    padding: 5px;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: bold;
    color: #210446;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.5s ease;
    white-space: nowrap;
    pointer-events: none;
  }
  
  .sidebar ul li a:hover {
    border-radius: 10px;
    background-color: #003554d8;
    color: #E6AF2E;
    transform: scale(1.1);
  }
  
  .sidebar .link-name {
    opacity: 0;
    pointer-events: none;
  }
  
  .sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
  }
  
  .sidebar ul li .search input {
    height: 45px;
    margin-top: 20px;
    border: none;
    background: #efefef;
    box-shadow: 0px 2px 6px 1px rgba(76, 157, 193, 0.25);
    border-radius: 2px;
    text-transform: uppercase;
    color: #4f4f4f;
  }
  
  .sidebar ul li .search {
    opacity: 0;
    pointer-events: auto;
  }
  
  .sidebar.active ul li .search {
    opacity: 1;
    pointer-events: auto;
  }
  
  .sidebar .social-links {
    height: 15%;
    width: 90%;
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .sidebar.active .social-links {
    flex-direction: row;
  }
  
  .sidebar .social-links img {
    width: 60%;
    height: 60%;
  }
  
  .sidebar .social-links img:hover {
    filter: drop-shadow(2px 2px 2px #140c2b);
  }
  
  /*Small devices (landscape phones, 576px and up)*/
  @media (min-width: 768px) {
    .sidebar.active {
      padding: 70px 14px;
      width: 240px;
    }
  
    .sidebar ul li a {
      font-size: 1.2rem;
    }
  
    .sidebar #button-expand {
      display: none;
      left: 90%;
      top: 68px;
    }
  
    .sidebar .logo-content .logo .logo-name img {
      width: 100%;
    }
  
    .sidebar .social-links img {
      width: 95%;
      height: 95%;
    }
  }