nav{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}

nav a{
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #ccc;
}

.active{
    border-bottom: 1px solid black;
}