* {
    box-sizing: border-box;
}
  
  body{
      padding-left: 95px;
      position: relative;
      width: 100%;
      overflow-x: hidden;
      font-family: 'Bariol Regular';
      background-color: #e6af2e3a;
      padding-bottom: 160px;
      color: #003554;
  }
  
  body.active{
      padding-left: 245px;
  }
  
  footer{
      position: absolute;
      bottom:0;
      left:0;
      width: 100%;
      max-height: 160px;
      background: #FFFFFF;
      padding: 30px 20px;
      padding-left: 78px;
  }
  
  footer.active{
      padding-left: 240px;
  }