@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

:root{
  --cor-items: #4387FF;
  --cor-shine: #FFC745;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #1A1E26;
  color: #FFF;
}

button{
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: 'Nova Mono', monospace;
  background-color: var(--cor-items);
  border: 1px solid #FFF;
  color: #FFF;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover{
  background-color: #4388ff7a;
}