.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    border: 1px solid rgb(105, 78, 78);
    border-radius: 8px;
    max-width: 400px;
    padding: 5px;
    margin: 8px;
}